Flask==2.3.3
SQLAlchemy==1.4.52
pymysql==1.1.1
Flask-SQLAlchemy==3.0.5
Flask-JWT-Extended==4.6.0
passlib==1.7.4
python-dotenv==1.0.1
pytest==8.3.3
werkzeug==3.0.4
cryptography==43.0.1
Faker==37.5.3

# OpenTelemetry (alineado en 1.22.0 y 0.43b0)
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-prometheus==0.43b0

# Instrumentación alineada con la misma versión
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-flask==0.43b0
opentelemetry-instrumentation-sqlalchemy==0.43b0

# Cliente Prometheus para /metrics
prometheus_client==0.20.0
